.galSlider
{
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.galSlider.galSlider-rounded
{
	border-radius: 5px;
}
.galSlider .galSlider-content
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
}
[class*="galSlider-arrow-"]
{
	position: absolute;
	top: 0px;
	height: 100%;
	width: 25%;
	color:#ccc;
	display: table;
	text-align: center;
	cursor: pointer;
	text-shadow:0px 1px 1px rgba(0,0,0,1);
	z-index: 214748200;
	font-size: 30px;
	opacity: 0;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s; /* Safari */
}
[class*="galSlider-arrow-"]:hover
{
	opacity: 0.8;
}
.galSlider [class*="galSlider-arrow-"] span
{
	display: table-cell;
	vertical-align: middle;
}
.galSlider .galSlider-arrow-left span:before
{
	content: "\25C0";
}
.galSlider .galSlider-arrow-left
{
	left: 0px;
}
.galSlider .galSlider-arrow-right span:before
{
	content: "\25B6";
}
.galSlider .galSlider-arrow-right
{
	right: 0px;
}
.galSlider .transition-top
{
	transition: top 0.5s;
}
.galSlider .transition-left
{
	transition: left 0.5s;
}
.galSlider .transition-opacity
{
	transition: opacity 0.5s;
}